/* You can add global styles to this file, and also import other style files */
$color-blue-dark: #0F91CD;
$color-blue-medium: #0A9BE1;
$color-blue-light: #05AAF5;
$color-red-light: #C80000;
$color-grey-light: #F0F0F0;
$color-grey-medium: #D2D2D2;
$color-grey-dark: #838383;

body{
  background-color: $color-blue-medium;
  color: $color-grey-light;
  padding: 0;
  margin: 0;
  font-family: CGR;
  cursor: default;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: rgba(255, 255, 255, 0);
  -ms-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
  background: $color-grey-dark
}
::-webkit-scrollbar-thumb {
  background: $color-grey-medium;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-grey-light;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-grey-medium;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color-grey-medium;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $color-grey-medium;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.enable-select {
  -webkit-user-select: default;
  -moz-user-select: default;
  -ms-user-select: default;
  user-select: default;
}
.CGR{
  font-family: CGR;
}
.CGB{
  font-family: CGB;
}
@font-face {
    font-family: CGR;
    src: url("./media/fonts/CenturyGothicRegular.ttf");
}
@font-face {
    font-family: CGB;
    src: url("./media/fonts/CenturyGothicBold.ttf");
}
@font-face {
    font-family: ICON;
    src: url("./media/fonts/FontAwesome.otf");
}
