<div class="gridElement" *ngFor="let a of airports" (click)="setAirport(a);">
  <div class="gridElementImage"
    [ngStyle]="{ 'background-image' : 'url(../../../media/images/' + a.name.toLowerCase().replace(' ', '') + '.jpg)' }"
  ></div>
  <h2>{{a.name}}</h2>
</div>

<div class="modalFrame {{modal}}">
  <div class="modal {{modal}}">
    <h2>{{airport.name}}</h2>
    <h3>Arrivals</h3>
    <select name="duration" [ngModel]="arrivalsDuration" (ngModelChange)="getArrivals($event)">
      <option value="1">1</option>
      <option value="8" selected>8</option>
      <option value="24">24</option>
    </select>
    <!-- <div *ngIf="arrivals.length !== 0  ; else elseBlockArrivals"> -->
      <div class="flights">
        <div *ngFor="let f of arrivals">
          <h4>ICAO24: {{f.icao24.toUpperCase()}}</h4>
          <p>Callsign: {{f.callsign}}</p>
          <p>First: {{formatDate(f.firstSeen)}}</p>
          <p>Last: {{formatDate(f.lastSeen)}}</p>
          <p>From: {{f.estDepartureAirport}}</p>
        </div>
      </div>
    <!-- </div>
    <ng-template #elseBlockArrivals>
      <h3>Loading</h3>
    </ng-template> -->
    <h3>Departures</h3>
    <select name="duration" [ngModel]="departuresDuration" (ngModelChange)="getDepartures($event)">
      <option value="1">1</option>
      <option value="8" selected>8</option>
      <option value="24">24</option>
    </select>
    <!-- <div *ngIf="departures.length !== 0  ; else elseBlockDepartures"> -->
      <div class="flights">
        <div *ngFor="let f of departures">
          <h4>ICAO24: {{f.icao24.toUpperCase()}}</h4>
          <p>Callsign: {{f.callsign}}</p>
          <p>First Seen: {{formatDate(f.firstSeen)}}</p>
          <p>Last Seen: {{formatDate(f.lastSeen)}}</p>
          <p>To: {{f.estArrivalAirport}}</p>
        </div>
      </div>
    <!-- </div>
    <ng-template #elseBlockDepartures>
      <h3>Loading</h3>
    </ng-template> -->
    <button type="button" class="btn btn-default" (click)="closeModal()" >Back</button>
  </div>
</div>
