<div class="gridElement" *ngFor="let a of airports" (click)="setAirport(a);">
  <div class="gridElementImage"
    [ngStyle]="{ 'background-image' : 'url(../../../media/images/' + a.name.toLowerCase().replace(' ', '') + '.jpg)' }"
  ></div>
  <h2>{{a.name}}</h2>
</div>

<div class="modalFrame {{modal}}">
  <div class="modal {{modal}}">
    <h2>{{airport.name}}</h2>
    <div class="selection">
      <h3>Arrivals</h3>
      <select name="duration" [ngModel]="arrivalsDuration" (ngModelChange)="getArrivals($event)">
        <option value="1">1</option>
        <option value="8" selected>8</option>
        <option value="24">24</option>
      </select>
    </div>
    <div class="flights" *ngIf="arrivalsState === 1">
      <div class="flight" *ngFor="let f of arrivals">
        <h4>ICAO24: {{f.icao24}}</h4>
        <p>Callsign: {{f.callsign}}</p>
        <p>First: {{f.firstSeen}}</p>
        <p>Last: {{f.lastSeen}}</p>
        <p>Origin: {{f.origin}}</p>
      </div>
    </div>
    <div class="flights loading" *ngIf="arrivalsState === 0">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <div class="flights error" *ngIf="arrivalsState === -1"><h4>There is no available information.</h4></div>
    <div class="selection">
      <h3>Departures</h3>
      <select name="duration" [ngModel]="departuresDuration" (ngModelChange)="getDepartures($event)">
        <option value="1">1</option>
        <option value="8" selected>8</option>
        <option value="24">24</option>
      </select>
    </div>
    <div class="flights" *ngIf="departuresState === 1">
      <div class="flight" *ngFor="let f of departures">
        <h4>ICAO24: {{f.icao24}}</h4>
        <p>Callsign: {{f.callsign}}</p>
        <p>First: {{f.firstSeen}}</p>
        <p>Last: {{f.lastSeen}}</p>
        <p>Origin: {{f.origin}}</p>
      </div>
    </div>
    <div class="flights loading" *ngIf="departuresState === 0">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <div class="flights error" *ngIf="departuresState === -1"><h4>There is no available information.</h4></div>
    <button type="button" class="btn btn-default" (click)="closeModal()" >Back</button>
  </div>
</div>
